<h1>My Travel Places</h1>
<ul>
  <% @places.each do |place| %>
    <li>
      <%= link_to place.name, layout_place_path(place) %>
    </li>
  <% end %>
</ul>
<%= link_to 'Create New Place', new_layout_place_path %>