<h1><%= @place.name %></h1>
<h2>Posts:</h2>
<ul>
  <% @place.posts.each do |post| %>
    <li>
      <%= link_to post.title, place_post_path(@place, post) %>
    </li>
  <% end %>
</ul>
<%= link_to 'Create New Post', new_place_post_path(@place) %>